{
  "presets": [
    "latest",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "react": "preact-compat",
        "src": "src"
      }
    }],
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
